extends layout.pug
block breadcrumb
  li
    a(href='/') index
  li
    a(href='/entities') entities
  li.is-active
    a.has-text-white(href='#')= entity.id
block content
  section.section
    .container
      h1.title Entity
      table.table.is-striped
        tbody
          tr
            td
              strong Id
            td= entity.id
          tr
            td
              strong Name
            td= entity.name
          tr
            td
              strong Created at
            td= entity.createdAt.toLocaleString()
          tr
            td
              strong Updated at
            td= entity.updatedAt.toLocaleString()
