extends layout.pug
block breadcrumb
  li
    a(href='/') index
  li.is-active
    a.has-text-white(href='#') entities
block content
  section.section
    .container
      h1.title Entities
      nav.level
        .level-left
          .level-item
            a.button.is-primary(href='/entities/create') Create
        .level-right
          .level-item
            p Page #{page} of #{maxPages}. Total items: #{count}.
      .table-container
        table.table
          thead
            tr
              th Id
              th Name
              th Created at
              th Updated at
          tbody
            each entity in entities
              tr
                td
                  a(href=`/entities/${entity.id}`)= entity.id
                td= entity.name
                td= entity.createdAt.toLocaleString()
                td= entity.updatedAt.toLocaleString()
      nav.pagination
        if page - 1 > 0
          a.pagination-previous(href=`/entities?page=${page - 1}`) Previous page
        else
          a.pagination-previous(disabled) Previous page
        if page + 1 <= maxPages
          a.pagination-next(href=`/entities/?page=${page + 1}`) Next page
        else
          a.pagination-next(disabled) Next page
